# API Keys and stuff
config.json

# Used when running
guild/

# Already built
target/

# Test dir (not used)
src/test/

# IntelliJ stuff
/.idea/
*.iml
*.ipr
*.iws

# Eclipse stuff
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath